version: '3.3'

services:
# Kafka
  kafka:
    image: 127.0.0.1:5001/db-adapter
    build: kafka-logstash-adapter/
    ports:
      - "3030:3030"
    depends_on:
      - redis
    entrypoint:
      - python
      - /home/src/db-adapter.py
    deploy:
      placement:
        constraints: [node.role == worker]
      resources:
        limits:
          cpus: "1"
          memory: 4G
      replicas: 3
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure


# Redis Webservice
  redis:
    image: redis:alpine
